{% extends "RUS/gmah_base.html" %}
{% block title %}
    {{title}}
{% endblock %}
{% block style %}
    <script>
    </script>
    <style>
    </style>
{% endblock %}
{% block content %}
    {% if first_file %}
        <img src="{{first_file.get_absolute_url}}" id='full_image' previous="img_{{first_file.id}}"/>
    {% endif %}
    <p>{{claim.id}}</p>
    <p>{{claim.name}}</p>
    <p>{{claim.description}}</p>
    <p>{{claim.owner.fio}}</p>
    <p>{{claim.open_date}}</p>
    <p></p><a href='/claim/edit/{{claim.id}}/'>редактировать</a></p>
    <p><a href='/claim/send_request/{{claim.id}}/'>Отправить запрос на получение данных</a></p>
    <div id="img_{{first_file.id}}" hidden><img src="{{first_file.get_absolute_url}}"  class='thumbnail' onclick="show_full('img_{{first_file.id}}')" /><a href="/image_delete/{{first_file.id}}">X</a></div>
    {% for file in files %}
        <div id="img_{{file.id}}">
            <img src="{{file.get_absolute_url}}" class='thumbnail' onclick="show_full('img_{{file.id}}')" />
                <a href="/image/delete/{{file.id}}">X</a>
        </div>
    {% endfor %}

{% endblock %}