{% extends "RUS/gmah_base.html" %}
{% block title %}
    {{title}}
{% endblock %}
{% block style %}
    <script>
        {% if requests %}
            alert('У Вас есть {{ requests }} непросмотренных заявок на предоставление данных. Пожалуйста, зайдите в профиль и посмотрите их')
        {% endif %}
    </script>
    <style>
    </style>
{% endblock %}

{% block content %}

    <h1>Ошибка при отображении главной страницы. Пользователя с
        логином
        {{ user }} не найдено</h1>

{% endblock %}