{% extends "RUS/gmah_base.html" %}
{% block title %}
    {{ title }} - {{ target }}
{% endblock %}

{% block content %}
    {% if UserCreationFormMY.errors %}
        <p class="error">Неверное имя или пароль</p>
    {% endif %}
    <h1>Создать учётную запись</h1>
    {% if  UserCreationFormMY %}
        <form action="" method="post">
            {% csrf_token %}
            {{ UserCreationFormMY.as_p }}
            <input type="submit" value="Зарегистрировать" />
        </form>
    {%  endif %}
    {% if  UserEditForm %}
        <form action="" method="post">
            {% csrf_token %}
            {{ UserEditForm.as_p }}
            <input type="submit" value="Сохранить" />
        </form>
    {%  endif %}
{% endblock %}
